/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/
    body {
        background-position: center 140px;
    }


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
div.bio {
    display: inline-grid;
    margin: auto;
    padding: inherit;
    float: right;
    width: 60%;
}
    
div.gallery {
    display: inline-grid;
    
}
    

div#gallery {
    
}
    
div#gallery {
    margin: 2px;
    padding: 1px;
    border: 1px solid #ccc;
    float:right;
}

    
.image01 { grid-area: 1 / 3 / 2 / 4; }

.image02 { grid-area: 2 / 3 / 3 / 4; }

.image03 { grid-area: 1 / 1 / 2 / 2; }

.image04 { grid-area: 1 / 2 / 2 / 3; }

.image05 { grid-area: 2 / 2 / 3 / 3; }

/*----------- FOOTER --------------*/
    
} /* end of media query */