/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    background-color: #A1C181;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #FCCA46;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
/*    font-family: 'Dancing Script', cursive;*/
    font-family: 'Righteous', cursive;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #FE7F2D;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-family: 'Righteous', cursive;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: #FE7F2D;
    color: #eee;
    border-left: 1px solid #FE7F2D;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #D57F2D;
    color: #000;
}
nav ul li.active a {
    background-color: #8D592D;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    border: solid #579C87;
    border-radius: 0.5rem;
}

main p {
    font-family: 'Cormorant Unicase', serif;
    font-size: 20px;
}

main h1 {
    font-family: 'Righteous', cursive;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #FE7F2D;
    padding: .5rem 2%;
    text-align: center;
    border-radius: 0.5rem;
    font-family: 'Righteous', cursive;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}