/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    background-color: #A1C181;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #FCCA46;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
/*    font-family: 'Dancing Script', cursive;*/
    font-family: 'Righteous', cursive;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal; font-family: 'Open Sans Condensed', sans-serif;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #FE7F2D;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-family: 'Righteous', cursive;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: #FE7F2D;
    color: #eee;
    border-left: 1px solid #FE7F2D;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #D57F2D;
    color: #000;
}
nav ul li.active a {
    background-color: #8D592D;
    color: #fff;
}
/*----------- MAIN --------------*/
* {
    box-sizing: border-box;
    font-family: 'Passion One', sans-serif;
} 

main {
    
    padding: 2rem 4%;
    min-height: 10rem;
    border: solid #579C87;
    border-radius: 0.5rem;
}

main p {
/*    font-family: 'Cormorant Unicase', serif;*/
/*    font-family: 'Montserrat', sans-serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

main h1 {
    font-family: 'Righteous', cursive;
}

main img {
    border: solid white; 
    border-radius: 2rem;
}

div#image {
    display: inline-block;
    margin: 1px;
    padding: 30px;
    width: 100%;
    text-align: center;
}

.contact {
    display: flex;
    padding: 2px;
}

label {
    display: block;
}

fieldset {
    border-top: 3px 3px solid #105761;
    border-left: 3px solid #105761;
    border-right: 3px solid #105761;
    border-radius: 0.5em;
    padding: 0.5em;
}

div.gallery {
    display: inline-grid;
    padding: 40px;

}

div#gallery {
    float: right;
    width: 100%;
    padding: 5rem;
}

dvi#gallery:hover {
    border: 1px solid #777;
}

div#gallery img {
    padding: 15px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*------- transition photos -------*/
.image01:hover {
    transition: all 1s;
    transform: scale(1.2);
}

.image02:hover {
    transition: all 1s;
    transform: scale(1.2);
}

.image03:hover {
    transition: all 1s;
    transform: scale(1.2);
}

.image04:hover {
    transition: all 1s;
    transform: scale(1.2);
}

.image05:hover {
    transition: all 1s;
    transform: scale(1.2);
}

.image06:hover {
    transition: all 1s;
    transform: scale(1.2);
}

/*
.photo01 { grid-area: 1 / 3 / 2 / 4; }

.image02 { grid-area: 2 / 3 / 3 / 4; }

.image03 { grid-area: 1 / 1 / 2 / 2; }

.image04 { grid-area: 1 / 2 / 2 / 3; }

.image05 { grid-area: 2 / 2 / 3 / 3; }
*/

/*----------- FOOTER --------------*/
footer {
    background-color: #FE7F2D;
    padding: .5rem 2%;
    text-align: center;
    border-radius: 0.5rem;
    font-family: 'Righteous', cursive;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}